/* ------------------------------- buger menu ------------------------------- */
.navigation__menu-btn {
  display: none;
}

.navigation__menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--textColor);
}

/* ---------------------------------- logo ---------------------------------- */

.navigation__title {
  color: var(--textColor);
  font-family: var(--cookieFont);
  font-size: 116px;
}
.navigation__title a:hover {
  text-decoration: none;
  color: currentColor;
}

/* ------------------------------- navigation ------------------------------- */
.navigation__header-nav {
//   max-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
  //   justify-content: space-evenly;
}

@media (max-width: 768px) {
  .navigation__menu-btn {
    width: 3em;
    height: 3em;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
    cursor: pointer;
  }
}
